body{
    background-color: black;
    color:white;
   }

h1{
    text-align: center;
}
.html{
    text-align: center;
    font-size:large;
    
}

.history{
    text-align: center;
    font-size:large;
    
}
span{
    color:blue;
}
.tags{
    text-align: center;
    font-size:large;
}


@media screen and (max-width: 600px) {
    body{
        background-color: rgb(146, 221, 240);
        color:rgb(26, 122, 248);
       }
    
    h1{
        color: black;
        text-align: center;
    }
    .html{
        text-align: center;
        font-size:large;
        
    }
    
    .history{
        text-align: center;
        font-size:large;
        
    }
    span{
        color:blue;
    }
    .tags{
        text-align: center;
        font-size:large;
    }
    .image{
        padding-left: 15px;
    }
    
}



@media only screen and (min-width: 600px){
    body{
        background-color: rgba(146, 104, 243, 0.945);
        color:rgb(243, 240, 70);
       }
    
    h1{
        color: black;
        text-align: center;
    }
    .html{
        text-align: center;
        font-size:large;
        
    }
    
    .history{
        text-align: center;
        font-size:large;
        
    }
    span{
        color:blue;
    }
    .tags{
        text-align: center;
        font-size:large;
    }
    .image{
        padding-left: 60px;
    }
    
}


@media only screen and (min-width: 900px){
    body{
        background-color: rgba(104, 243, 134, 0.945);
        color:rgb(252, 82, 82);
       }
    
    h1{
        color: black;
        text-align: center;
    }
    .html{
        text-align: center;
        font-size:large;
        
    }
    
    .history{
        text-align: center;
        font-size:large;
        
    }
    span{
        color:blue;
    }
    .tags{
        text-align: center;
        font-size:large;
    }
    .image{
        padding-left: 200px;
    }
    
}


@media only screen and (min-width: 1200px){
    body{
        background-color: rgb(70, 243, 157);
        color:rgba(92, 36, 221, 0.945);
       }
    
    h1{
        color: black;
        text-align: center;
    }
    .html{
        text-align: center;
        font-size:large;
        
    }
    
    .history{
        text-align: center;
        font-size:large;
        
    }
    .image{
        padding-left: 400px;
    }
    span{
        color:blue;
    }
    .tags{
        text-align: center;
        font-size:large;
    }
    
}