 *{
    margin:0;
    padding:0;
 }
 
.bgimg{
    background-image: url("https://images.pexels.com/photos/2466778/pexels-photo-2466778.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    height:100vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
     
  color:white;
   
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.6); 
}
a{
    text-decoration: none;
    color:white;
}
.navbar ul{
    color:white;
    display:flex;
    font-size: large;
    gap: 30px;
    list-style: none;
    
}
.navbar ul li a:hover {
    color: aqua;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 234, 241);

}


span{
    color:green;
}
.text{
    padding-top: 100px;
    padding-left: 100px;
    color: aqua;
    
}

.paragraph{
    font-size: large;
    padding-left: 100px;
    color: white;
} 
.btn {
  
    
    padding: 12px 30px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 16px;
   margin: 100px;
}

.btn:hover {
    background-color: #00bfff; 
}
button{
    padding:10px 10px;
    box-shadow:2px 4px 2px green;
}




